<!DOCTYPE html>
<html>
    <head>
        <title>Election Commission, BITS Pilani, Hyderabad Campus</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/CSS/logout.css">
        <link rel="icon" type="image/png" href="/static/resources/icon.png">
        <style>
            .container{display:flex;flex-flow:column wrap;align-content:center;justify-content:center;height:100vh;margin:auto;text-align:center}
            .fixed-bottom{text-align:center}
            img{transition:all 1s}
            img:hover{transform:scale(1.15)}
            h6{font-weight:700}
        </style>
    </head>
    <body>
        <div class="container">
            <img src="/static/resources/logo.jpg" alt="election.commission@hyderabad.bits-pilani.ac.in" height="100px" width="300px">
            <p>Club Elections 2020-21 has concluded.</p>
            <p>For queries, contact the Election Commission.</p>
        </div>
    </body>
    <div class="fixed-bottom">
        <footer>
            election.commission@hyderabad.bits-pilani.ac.in
        </footer>
    </div>
</html>