<!DOCTYPE html>
<html>
    <head>
        <title>Election Commission, BITS Pilani, Hyderabad Campus</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/CSS/logout.css">
        <link rel="icon" type="image/png" href="/static/resources/icon.png">
        <script type="text/javascript"> 
            window.history.forward(); 
            function noBack() { 
                window.history.forward(); 
            } 
        </script>
    </head>
    <body>
        <div class="container">
            <img src="/static/resources/logo.jpg" alt="election.commission@hyderabad.bits-pilani.ac.in" height="100px" width="300px">
        </div>
        <script type="text/javascript">
            alert("Your vote has been recorded. Thank you.")
        </script>
    </body>
    <div class="fixed-bottom">
        <footer>
            election.commission@hyderabad.bits-pilani.ac.in
        </footer>
    </div>
</html>